<template>
  <div>
    <h1>Simulazione | {{numberOfAlreadyAnsweredQuestions}}/{{MAX_QUESTIONS}} | {{remainingTime}}</h1>
    <div v-if="!SIMULAZIONE_ENDED">
      <question
        v-if="currentQuestion"
        :text="currentQuestion.text"
        :number="currentQuestion.number"
        :answers="currentQuestion.answers"
        :show-alert="false"
        @answered="onAnswered"
      />
      <button @click="skipQuestion">Salta</button>
    </div>
    <div v-else>
      <h2>Risultato: {{calculatePunteggio}}</h2>
      Lista domande:
      <div v-for="(item, index) in questions" :key="index" class="question">
        {{item.question.number}}) {{item.question.text}}
        <ul>
          <li>
            Risposto: "{{item.selectedAnswer}}"
          </li>
          <li>
            Risposta corretta: "{{item.question.answers[0]}}"
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Statistiche from '~/lib/statistiche'
import Concorso from '~/lib/concorso'

export default {
  asyncData ({params}) {
    return {
      concorso: new Concorso(params.id),
      statistiche: new Statistiche(params.id)
    }
  },
  data () {
    return {
      MAX_QUESTIONS: 30,
      MAX_TIME: 30 * 60 * 1000,
      SIMULAZIONE_ENDED: false,
      questions: [],
      currentQuestionIndex: -1,
      remainingTime: "30:00",
      startedAt: new Date().getTime()
    }
  },
  mounted () {
    this.setNewQuestion()
    let self = this
    setInterval(function (self) {
      self.countRemainingTime()
    }, 500, self)
  },
  computed: {
    numberOfAlreadyAnsweredQuestions () {
      return this.questions.length;
    },
    currentQuestion () {
      console.log(this.questions, this.currentQuestionIndex)
      return this.questions && this.questions.length > 0 ? this.questions[this.currentQuestionIndex].question : null
    },
    calculatePunteggio () {
      return this.questions.map((item) => {
        if (item.skip) return 0;
        if (item.correct) return 1
        else return -0.5
      }).reduce((a, b) => a + b)
    }
  },
  methods: {
    setNewQuestion () {
      if (this.numberOfAlreadyAnsweredQuestions == this.MAX_QUESTIONS) {
        this.SIMULAZIONE_ENDED = true
        this.statistiche.addSimulationResult(this.calculatePunteggio)
      } else {
        const randomQuestion = this.concorso.getRandomQuestion([]);
        this.questions.push({
          question: randomQuestion,
          correct: null,
          skip: false,
          selectedAnswer: ""
        })
        this.currentQuestionIndex++
      }
    },
    skipQuestion () {
      this.questions[this.currentQuestionIndex].skip = true;
      this.setNewQuestion()
    },
    onAnswered (correct, selectedAnswer) {
      this.questions[this.currentQuestionIndex].correct = correct;
      this.questions[this.currentQuestionIndex].selectedAnswer = selectedAnswer;

      this.setNewQuestion()
    },
    countRemainingTime () {
      let now = new Date().getTime();
      let elapsed = now - this.startedAt;
      let remaining = this.MAX_TIME - elapsed;

      let minutes = Math.floor((remaining % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((remaining % (1000 * 60)) / 1000);

      this.remainingTime = `${minutes}:${seconds}`
    }
  }
}
</script>

<style scoped>
.question {
  border: 1px black solid;
  padding: 5px;
}
</style>
