<template>
  <div>
    <div>
      <NuxtLink :to="`/concorso/${concorsoId}/quiz`">
        Quiz a caso
      </NuxtLink>
    </div>
    <div>
      <NuxtLink :to="`/concorso/${concorsoId}/simulazione`">
        Simulazione
      </NuxtLink>
      |
      <NuxtLink :to="`/concorso/${concorsoId}/simulazione/statistiche`">
        Statistiche sulle simulazioni
      </NuxtLink>
    </div>
    <div>
      <NuxtLink :to="`/concorso/${concorsoId}/statistiche`">
        Statistiche su tutte le domande
      </NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
  asyncData ({params}) {
    return {
      concorsoId: params.id
    }
  },
}
</script>
