<template>
  <ul>
    <li v-for="(item, index) in history" :key="index">
      <b>{{item.score}}</b> |  {{formatDate(item.date)}}
    </li>
  </ul>
</template>

<script>
import Statistiche from '~/lib/statistiche'

export default {
  asyncData ({params}) {
    return {
      statistiche: new Statistiche(params.id)
    }
  },
  computed: {
    history () {
      return this.statistiche.getSimulationHistory()
    }
  },
  methods: {
    formatDate (data) {
      return data.toLocaleString()
    }
  }
}
</script>
