<template>
  <div>
    <div><NuxtLink to="/">Home</NuxtLink></div>
    <question
      :text="question.text"
      :number="question.number"
      :answers="question.answers"
      @answered="onAnswered"
    />
  </div>
</template>

<script>
import Concorso from '~/lib/concorso'
import Question from '~/components/question.vue'

export default {
  name: 'Domanda',
  components: {
    Question
  },
  data () {
    return {
      question: {
        text: "",
        number: -1,
        answers: []
      }
    }
  },
  asyncData ({params}) {
    return {
      concorsoId: params.id,
      domandaNumero: params.numero,
      concorso: new Concorso(params.id)
    }
  },
  mounted () {
    this.setNewQuestion();
  },
  methods: {
    setNewQuestion () {
      const randomQuestion = this.concorso.getQuestionByNumber(this.domandaNumero);
      this.selected = null;
      this.question.text = randomQuestion.text;
      this.question.number = randomQuestion.number;
      this.question.answers = randomQuestion.answers;
    },
    onAnswered (correct) {
      // this.saveStatistics(this.question.number, correct)
      //this.setNewQuestion()
    },
    saveStatistics (number, correct) {
      const itemKey = 'history';
      const currentHistory = JSON.parse(window.localStorage.getItem(itemKey)) || {};

      if (!currentHistory[number]) {
        currentHistory[number] = {
          answered: 0,
          correct: 0,
          wrong: 0
        }
      }

      currentHistory[number].answered++;
      if (correct) currentHistory[number].correct++;
      else currentHistory[number].wrong++;

      window.localStorage.setItem(itemKey, JSON.stringify(currentHistory))
    }
  }
}
</script>

