<template>
  <div>
    <div><NuxtLink to="/">Home</NuxtLink> | <NuxtLink to="statistiche">Statistiche</NuxtLink></div>
    <div>
      <input type="radio" id="database-all" v-model="database" name="database" value="all">
      <label for="database-all">Tutte le domande</label>
      <input type="radio" id="database-new" v-model="database" name="database" value="new">
      <label for="database-new">Solo quelle mai risposte</label>
    </div>
    <question
      :text="question.text"
      :number="question.number"
      :answers="question.answers"
      @answered="onAnswered"
    />
    <div>
    </div>
  </div>
</template>

<script>
import Concorso from '~/lib/concorso'
import Statistiche from '~/lib/statistiche'
import Question from '~/components/question.vue'

export default {
  name: 'Quiz',
  components: {
    Question
  },
  data () {
    return {
      database: "all",
      question: {
        text: "",
        number: -1,
        answers: []
      }
    }
  },
  asyncData ({params}) {
    return {
      concorso: new Concorso(params.id),
      statistiche: new Statistiche(params.id)
    }
  },
  mounted () {
    this.setNewQuestion();
  },
  methods: {
    setNewQuestion () {
      const skipList = this.getSkipList();
      const randomQuestion = this.concorso.getRandomQuestion(skipList);
      this.selected = null;
      this.question.text = randomQuestion.text;
      this.question.number = randomQuestion.number;
      this.question.answers = randomQuestion.answers;
    },
    onAnswered (correct) {
      this.statistiche.increment(this.question.number, correct)
      this.setNewQuestion()
    },
    getSkipList () {
      let skipList = [];
      if (this.database === "new") {
        skipList = this.statistiche.getListOfQuestionsNumbersAlreadyAnswered()
      }

      return skipList;
    }
  }
}
</script>

