<template>
  <div>
    <NuxtLink to="quiz">Vai ai Quiz</NuxtLink>
    <ul>
      <li v-for="(statistic, number) in history" :key="number">
        <NuxtLink :to="`/concorso/${concorsoId}/domanda/${number}`">
          {{number}}
        </NuxtLink>: {{statistic.correct}} corretta su {{statistic.answered}} tentativi
      </li>
    </ul>
  </div>
</template>

<script>
import Statistiche from '~/lib/statistiche'

export default {
  asyncData ({params}) {
    return {
      concorsoId: params.id,
      statistiche: new Statistiche(params.id)
    }
  },
  computed: {
    history () {
      return this.statistiche.getHistory()
    }
  }
}
</script>
